{% extends 'admin/master.html'%}
{% block page_title %}
   Admin | Confirm Delete Category
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <h1 class="m-0"> Confirm Delete Category</h1>
      </div>
    </div>

    <div class="content">
      <div class="container-fluid">
        <div class="card">
            <div class="card-header">
              <a href="{{ url_for('category')}}" class="btn btn-outline-secondary">
                  Back
              </a>
            </div>

            <div class="card-body">
              <center>
                  <h3>Do you want to delete?</h3>
                  <ul>
                      <li>Name: {{ category.name }}</li>
                  </ul>
              </center>
              <form method="post"
                    action="{{ url_for('delete_category', category_id=category.id) }}"
                    onsubmit="return confirm('Delete category: {{ category.name }} ?');">
                  <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
