{% extends 'admin/master.html'%}
{% block page_title %}
   Admin | Product
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Product Page</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ url_for('dashboard')}}">Home</a></li>
              <li class="breadcrumb-item active">Product Page</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

 <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
               <!-- Small boxes (Stat box) -->
        <div class="card">
            <div class="card-header">
              <a href="{{ url_for('form_product',action='add')}}" class="btn btn-outline-primary">
                  <i class="fas fa-plus-circle"></i>
                  Add
              </a>

              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-borderless table-striped">
                    <thead>
                    <tr class="bg-primary text-white">
                      <th>No.</th>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Cost</th>
                      <th>Price</th>
                      <th>Action</th>
                    </tr>
                    </thead>
                      <tbody>
                      {% for product in products %}
                         <tr>
                          <td>{{ loop.index }}</td>
                          <td>
                                <img
                                    src="{{ url_for('static', filename='uploads/' ~ (product.image or 'img.png')) }}"
                                    style="width:50px;height:50px;object-fit:contain;"
                                >
                          </td>



                          <td>{{ product.name }}</td>
                          <td>{{ product.category}}</td>
                          <td>{{ product.cost }}$</td>
                          <td>{{ product.price }}$</td>
                          <td>
                              <a href="{{ url_for('form_product',action='edit', pro_id=product.id)}}"
                                 class="btn btn-sm btn-outline-secondary"
                              >
                                  <i class="fas fa-user-edit"></i>
                                  Edit
                              </a>
                              <a
                                      class="btn btn-sm btn-outline-danger"
                                        href="{{ url_for('confirm_product', pro_id=product.id)}}">
                                  <i class="fas fa-trash-alt"></i>
                                  Delete
                              </a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                </div>
              </div>
              </div>
            </div>
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
{% endblock %}

